.controls{
    width: 100%;
    height: 100px;
}

#canv {
    width: 100%;
    height: calc(100vh - 105px);
    position: relative;
}

.vars {
    display:inline-block;
}

.hidden {
    display: none;
}